<div class="container">   
    <table class="table"> 
    <thead class="thead-dark"> 
        <tr> 
            <th>NUMBER</th> 
            <th>TITLE</th> 
        </tr> 
    </thead> 

    <tbody>
        <tr *ngFor = "let c of courses"> 
            <td class="align-middle"><a routerLink="/courses/{{ c.id }}">{{ c.number }}</a></td>
            <td class="align-middle">{{ c.title }}</td>
        </tr>
    </tbody>
    </table>
</div>
<div class="container">
    <app-course-detail></app-course-detail>
</div>