<!-- MENU SIDEBAR --> 
<div class="container mt-5 px-2"> 
  <h6>Departments</h6> 
  <div class="menu-sidebar-content js-scrollbar1"> 
        <nav class="navbar-sidebar">
           
          <ul class="list-unstyled navbar-list"> 
            <li> 
              <a routerLink="/department/1" routerLinkActive="active-link">CIS</a> 
            </li> 
            <li> 
              <a routerLink="/department/2" routerLinkActive="active-link">FRL</a> 
            </li> 
          </ul> 
        </nav> 
    </div>
</div> 
  <!-- END MENU SIDEBAR -->